<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon Super Site EJS</title>
    <!-- Reference fichier statique CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Ceci est ma premiere  page EJS !!!</h1>
    <p>Bonjour
        <% if (typeof utilisateur !== 'undefined') { %>
            <%= utilisateur %>
        <% } else { %>
            bel(le) inconnu(e)
        <% } %>
    </p>
</body>
</html>
