<header> Démo Routage Express
    <div class="buttonheader">
        <button onclick="window.location.href='/'">Accueil</button>
        <button onclick="window.location.href='/about'">A propos</button>
    </div>
</header>